<style type="text/css">
h1 {
color :  #000000 ;
text-align : center ;
}
h2 {
	color: red;
	font-style : bold ;
	font-family : monospace ;
	text-align : center;
}
h3 {
	font-style : bold ;
  text-align : right;
}
h4 {
  color: red;
	font-style : bold ;
  font-family : monospace ;
	text-align : center;
}
h5 {
  color: green;
	font-style : bold ;
  font-family : monospace ;
	text-align : center;
}
div
{
font-style : italic ;
font-family : monospace ;
}
html {
color: black;
background-color: #DEB887;
background-image: url("https://www.eic.fr/content/externe/site/commun/images/fond.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 50% 50%;
}0
.table1 {
margin: 1px;
margin-left: 2px;
text-align: left;
font-size: 10px;
position: relative;
border: 1px solid black;
}
.main {
width:20%;
}
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    background-color: #666;
}
#canvas {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    background-color: #CCC;
}
#container2 {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px blue solid;
}
#container3 {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px red solid;
}
#imgtag3 {
    border: 10px red solid;
}
.copyright {
font-style : italic ;
font-family : monospace ;
text-align : right ;
}

.main {
width:80%;
}

.side {
	width:20%;
}
.copyright {
font-style : italic ;
font-family : monospace ;
text-align : right ;
}

:link {
color: #0000ee;
font-style : italic ;
font-family : monospace ;
}

:link:active {
color: #ee0000;
font-style : italic ;
font-family : monospace ;
}

:link:visited {
color: #551a8b;
font-style : italic ;
font-family : monospace ;
}

</style>
