<style type="text/css">
h1 {
color :  #000000 ;
text-align : center ;
}
h2 {
	color: red;
	font-style : bold ;
	font-family : monospace ;
	text-align : center;
}
h3 {
	font-style : bold ;
  text-align : right;
}
h4 {
  color: red;
	font-style : bold ;
  font-family : monospace ;
	text-align : center;
}
h5 {
  color: green;
	font-style : bold ;
  font-family : monospace ;
	text-align : center;
}
div
{
font-style : italic ;
font-family : monospace ;
}
html {
color: black;
background-color: #DEB887;
background-image: url("https://www.eic.fr/content/externe/site/commun/images/fond.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 50% 50%;
}0
.table1 {
margin: 1px;
margin-left: 2px;
text-align: left;
font-size: 10px;
position: relative;
border: 1px solid black;
}
.main {
width:20%;
}
input[type=submit]:active, input[type=reset]:active {
	background: #66C1E4;
	border: none;
	color: #FFF;
	box-shadow: 1px 1px 1px #4C6E91;
	-webkit-box-shadow: 1px 1px 1px #4C6E91;
	-moz-box-shadow: 1px 1px 1px #4C6E91;
	text-shadow: 1px 1px 1px #5079A3;
}
input[type=submit]:hover, input[type=reset]:hover {
	 background: #3EB1DD;
		border: none;
		color: #FFF;
		box-shadow: 1px 1px 1px #4C6E91;
		-webkit-box-shadow: 1px 1px 1px #4C6E91;
		-moz-box-shadow: 1px 1px 1px #4C6E91;
		text-shadow: 1px 1px 1px #5079A3;
 }
 #menu li {
 display:inline-block;
  }

	#menu li a {
	display:inline-block;
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 20px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	color: black;
	text-align: center;
	margin: 0 10px;
	 }
	 #menu li a:hover {
		background: black;
	 border: 1px solid black;
	 color: white;
		}
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 2px #333 solid;
}
#videoElement {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    background-color: #666;
}
#canvas {
    margin: 0px auto;
    width: 0px;
    height: 0px;
    background-color: transparent;;
}
#container2 {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 2px blue solid;
}
#container3 {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 2px red solid;
}
.copyright {
font-style : italic ;
font-family : monospace ;
text-align : right ;
}

.main {
width:80%;
}

.side {
	width:20%;
}
.copyright {
font-style : italic ;
font-family : monospace ;
text-align : right ;
}

:link {
color: #0000ee;
font-style : italic ;
font-family : monospace ;
}

:link:active {
color: #ee0000;
font-style : italic ;
font-family : monospace ;
}

:link:visited {
color: #551a8b;
font-style : italic ;
font-family : monospace ;
}

</style>
